#content{
    position: relative;
    text-align: center;
}

#providerRegister-btn{
    background: transparent;
    border: solid 1px;
    border-color: rgb(38, 190, 178);
    border-radius: 10px;
    height: 50px;
    width: 300px;
    margin: 25px auto 25px auto;
    color: rgb(38, 190, 178)
}

#providerRegister-btn:hover{
    color: rgb(38, 190, 178);
    background-color: rgba(38, 190, 178, .1);
}

#insurance ion-label {
    white-space: normal;
}